// fonts
$mainFont: 'Roboto', sans-serif;

// cores
$bgColor: #f5f6fa;
$mainColor: #182C61;
$secondaryColor: #44bd32;

// breakpoints
$mobile: 767px;
$tablet: 1023px;

// size
$w100: 100%;

// display
$none: none;