@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

@mixin elementoForm($margin: 16px) {
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom: $margin;
}

// Função para calcular Em
@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px) {
    // $alvoEmPixel / $contextoEmPixel
    @return math.div($alvoEmPixel, $contextoEmPixel)+em;
}

body {
    background-color: #eee;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
}

header {
    padding: 16px 0;
    background-color: variaveis.$corPrincipal;
    text-align: center;
    color: #fff;
}

.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;

    h2 {
        font-size: pixelParaEm(48px); //font-size do body 16px
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 480px;
        margin-top: 40px;

        label {
            font-weight: bold;
            cursor: pointer
        }

        input {
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 3px solid variaveis.$corPrincipal;
        }

        button {
            @include elementoForm();
            background-color: variaveis.$corSecundaria;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            color: #fff;

            &:hover { //e comercial para referenciar o proprio seletor (no caso, button)
                background-color: lighten(variaveis.$corSecundaria, 3%);
            }
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {
    body {
        background-color: yellow;
    }

    // medida alvo / medida atual do contexto
    // medida alvo / 16px (font-size da tag body)
    // se no layout utilizamos 32px e a medida atual do contexto 
    // 32px / 16px = 2em


}

@media screen and (max-width: variaveis.$tablet) {
    .container {
        max-width: 80%;
    }
}